# Ordinal Encoding
###     Encoding is allplied on categorical data. Ordinal encoding is for ordinal data and Ordinal data have certain order.

In [35]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder, OneHotEncoder

In [36]:
df = pd.read_csv(r"D:\Data Analytics\Python Scripts\Statistics\Encoding\customer.csv")
df.sample(5)

    age  gender review education purchased
36   34  Female   Good        UG       Yes
42   30  Female   Good        PG       Yes
38   45  Female   Good    School        No
31   22  Female   Poor    School       Yes
26   53  Female   Poor        PG        No

In [37]:
new_df = df.iloc[:,2:]
new_df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [38]:
X_train, X_test, Y_train, Y_test = train_test_split(
    new_df.iloc[:, 0:2],
    new_df.iloc[:, 2],
    test_size=0.3
)

X_train

     review education
20  Average    School
24  Average        PG
3      Good        PG
22     Poor        PG
1      Poor        UG
15     Poor        UG
17     Poor        UG
9      Good        UG
16     Poor        UG
28     Poor    School
7      Poor    School
14     Poor        PG
33     Good        PG
29  Average        UG
8   Average        UG
25     Good    School
36     Good        UG
4   Average        UG
27     Poor        PG
48     Good        UG
31     Poor    School
26     Poor        PG
12     Poor    School
47     Good        PG
0   Average    School
39     Poor        PG
43     Poor        PG
44  Average        UG
41     Good        PG
40     Good    School
32  Average        UG
21  Average        PG
45     Poor        PG
37  Average        PG
30  Average        UG

In [39]:
oe = OrdinalEncoder(categories=[["Poor", "Average", "Good"], ["School", "UG", "PG"]])
oe.fit(X_train)
X_train = oe.transform(X_train)
X_test = oe.transform(X_test)

In [45]:
X_train

array([[1., 0.],
       [1., 2.],
       [2., 2.],
       [0., 2.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [2., 1.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [0., 2.],
       [2., 2.],
       [1., 1.],
       [1., 1.],
       [2., 0.],
       [2., 1.],
       [1., 1.],
       [0., 2.],
       [2., 1.],
       [0., 0.],
       [0., 2.],
       [0., 0.],
       [2., 2.],
       [1., 0.],
       [0., 2.],
       [0., 2.],
       [1., 1.],
       [2., 2.],
       [2., 0.],
       [1., 1.],
       [1., 2.],
       [0., 2.],
       [1., 2.],
       [1., 1.]])

# Lable Encoding
###     lable encoding is used for target variables.

In [42]:
le = LabelEncoder()
le.fit(Y_train)
le.classes_

array(['No', 'Yes'], dtype=object)

In [43]:
Y_train = le.transform(Y_train)
Y_test = le.transform(Y_test)

Y_train

array([1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0])

In [ ]:
pd.get_dummies(df[])